.right-features{
    // margin-top: 5px;
    width: 75%;
    background-color:  #e2e1e8;
    position:absolute;
    right: 0;
    height: calc(100vh - 90px);
}
.post-transmitter{
    
    border-radius: 15px;
    margin: 20px 150px;
    background-color: white;
    padding: 20px;
}
img{
    border-radius: 100%;
    width: 50px;
}
.profile{
    display: flex;
    align-items: center;
}
.profile input{
    background-color:  #f1f1f4;
    width: 90%;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    margin-left: 15px;
    font-size: 14px;
}
.profile input:focus{
    outline: none;
}
.attachments{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
}
.post-transmitter span{
    margin-left:5px ;
}
@media screen and (max-width:426px) {
    
    
    .right-features{
        width: 100%;
    }
    .post-transmitter{
        margin: 20px 10px;
    }
    .attachments{
        font-size: 14px;
    }

}
